:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-font-size: 14px;
  --primary-letter-spacing: 0.03em;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  color: currentColor;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: var(--primary-letter-spacing);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo span {
  color: var(--accent-color);
}

.header__logo {
  color: #000000;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.subtitle {
  text-align: center;
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: uppercase;
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  fill: #afb1b8;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1199px) {
  .modal {
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    max-width: 528px;
    transform-origin: top left;
    transition: transform 250ms var(--timing-function);
  }
}

@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(90deg) scale(0.5);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  transition: color 250ms var(--timing-function);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--title-text-color);
}

.form-massage__field {
  margin-bottom: 10px;
}

.form-massage__field--end {
  margin-bottom: 20px;
}

.form-massage__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-massage__wrap {
  position: relative;
}

.form-massage__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: var(--primary-font-size);
  color: inherit;
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}
.form-massage__input:focus {
  outline: 1px solid var(--accent-color);
  border-color: var(--accent-color);
}

.form-massage__icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}
.form-massage__input:focus + .form-massage__icon {
  fill: var(--accent-color);
}

.form-massage__textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: inherit;
  font-size: var(--primary-font-size);
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}
.form-massage__textarea:focus {
  outline: 1px solid var(--accent-color);
  border-color: var(--accent-color);
}
.form-massage__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-massage__privacy {
  margin-bottom: 30px;
}

.form-massage__check-label {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--primary-letter-spacing);
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .form-massage__check-label {
    font-size: var(--primary-font-size);
    line-height: 1.71;
  }
}

.form-massage__check-label a {
  color: var(--accent-color);
}

.form-massage__check-icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.form-massage__input-check:checked + .form-massage__check-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  fill: #fff;
}

.form-massage__modal-btn {
  min-width: 200px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  min-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    min-height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.menu-button {
  position: relative;
  z-index: 3;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  transition: fill 250ms var(--timing-function);
}
.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-burger {
  transform: translateY(0);
  transition: transform 250ms var(--timing-function);
}

.menu-button .icon-cross {
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.menu-button.is-open .icon-cross {
  transform: translateY(0);
}

.menu-button.is-open .icon-burger {
  transform: translateY(-100%);
}

.menu-container {
  display: flex;
}
@media screen and (max-width: 767.5px) {
  .menu-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 48px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transform: translateX(-100%);
    transition: transform 250ms var(--timing-function);
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
    align-items: center;
  }
}

.nav__list {
  display: flex;
}
@media screen and (max-width: 767.5px) {
  .nav__list {
    flex-direction: column;
    gap: 36px;
  }
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
@media screen and (max-width: 767.5px) {
  .nav__link {
    font-size: 40px;
    line-height: 1.18;
  }
}
@media screen and (max-width: 480px) {
  .nav__link {
    font-size: 30px;
  }
}

@media screen and (max-width: 767.5px) {
  .contacts__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__link--current:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -33px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link--current:after {
    bottom: -37px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767.5px) {
  .contacts__list {
    margin-top: auto;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    font-size: 14px;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (max-width: 767.5px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767.5px) {
  .contacts__link--medium {
    display: inline-flex;
    font-size: 24px;
  }
}

@media screen and (max-width: 767.5px) {
  .contacts__link--xl {
    display: inline-flex;
    font-size: 34px;
  }
}
@media screen and (max-width: 480px) {
  .contacts__link--xl {
    font-size: 24px;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
  .contacts__icon--small {
    width: 10px;
    height: 16px;
  }
}

.mob-menu__soc {
  display: none;
}
@media screen and (max-width: 767.5px) {
  .mob-menu__soc {
    margin-top: 64px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.mob-menu__soc-item {
  position: relative;
}
.mob-menu__soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__soc-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-menu__soc-link {
    font-size: 18px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mob-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    padding: 200px 0;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 25px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    min-width: 216px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__descr {
  font-size: var(--primary-font-size);
  line-height: 1.7;
  letter-spacing: var(--primary-letter-spacing);
}

.services {
  padding-top: 0;
}
@media (max-width: 1200px) {
  .services {
    display: none;
  }
}

.services__list {
  display: flex;
}

.services__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  padding: 10px 10px;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__subtitle {
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767.5px) {
  .team__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-wrap: wrap;
  }
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__wrap {
  padding: 30px 10px;
  text-align: center;
  background-color: #ffffff;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--title-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--primary-letter-spacing);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer__wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap {
    justify-content: space-around;
  }
}

@media screen and (max-width: 767.5px) {
  .footer__start {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__start {
    margin-right: 93px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 6px;
}

.address__link {
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 1.7;
  letter-spacing: var(--primary-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}
.address__link--white {
  color: #ffffff;
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.join__text,
.subscribe__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .join__text,
.subscribe__text {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .join__text,
.subscribe__text {
    padding-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .join__socials {
    justify-content: flex-start;
  }
}

.join__link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin: 0;
  }
}

.subscribe__btn::after {
  content: "";
  width: 18px;
  height: 18px;
  margin-left: 10px;
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  row-gap: 15px;
  column-gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__btn {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--title-text-color);
  background-color: #f5f4fa;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), color 250ms var(--timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .gallery__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.gallery__item {
  transition: box-shadow 250ms var(--timing-function);
}
.gallery__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 60px) / 3);
  }
}

.gallery__top-wrap {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 40px 24px 24px 24px;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.56;
  letter-spacing: var(--primary-letter-spacing);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transition: transform 250ms var(--timing-function);
}
.gallery__item:hover .gallery__overlay {
  transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .gallery__overlay {
    padding-top: 77px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__overlay {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__overlay {
    padding-top: 63px;
  }
}

.gallery__wrap {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.gallery__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.gallery__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: var(--primary-letter-spacing);
}/*# sourceMappingURL=main.css.map */