.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-mob-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-mob@2x.jpg');
  }
  @include tablet {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-tab.jpg');
    @include retina {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg-tab@2x.jpg');
    }
  }
  @include desktop {
    max-width: 1600px;
    min-height: 600px;
    padding: 200px 0;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg.jpg');
    @include retina {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 25px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
  @include desktop {
    min-width: 216px;
  }
}
