.services {
  padding-top: 0;
  @media (max-width: 1200px) {
    display: none;
  }
}

.services__list {
  display: flex;
}

.services__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.services__overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  padding: 10px 10px;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__subtitle {
  color: #ffffff;
}
