:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-font-size: 14px;
  --primary-letter-spacing: 0.03em;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
